<template>
  <div id="misc">Error</div>
</template>

<script>
import { mdiAlert } from "@mdi/js";

export default {
  setup() {
    return {
      icons: {
        mdiAlert,
      },
    };
  },
};
</script>
