<template>
  <v-container fluid class="pa-0">
    <div style="position: relative">
      <h2 class="mx-7 pt-1 section-title d-inline-flex">What's Popular</h2>
      <div
        v-if="$vuetify.breakpoint.mobile"
        class="v-tabs px-10 category--active"
      >
        <span
          class="selected-item align-self-center"
          @click="selectCategory = true"
          >{{ categoryOption[tab].text }}</span
        ><v-icon class="text-subtitle-1 category-icon" style="">mdi-chevron-down</v-icon>
        <v-list rounded class="pa-0 option-category" v-if="selectCategory">
          <v-list-item-group v-model="tab" color="primary">
            <v-list-item
              class="ma-0 px-3"
              v-for="item in categoryOption"
              :key="item.value"
              active-class="category--active"
            >
              <v-list-item-content class="pl-1">
                <v-list-item-title v-text="item.text"></v-list-item-title>
              </v-list-item-content>
              <v-icon
                v-if="categoryOption[tab] === item"
                class="text-subtitle-1"
                style="
                  position: absolute;
                  top: 50%;
                  right: 5px;
                  transform: translate(-50%, -50%);
                "
                >mdi-chevron-down</v-icon
              >
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </div>
      <v-tabs v-else v-model="tab">
        <v-tab>Movie</v-tab>
        <v-tab>Tv</v-tab>
      </v-tabs>
    </div>
    <horizontal-scroll class="py-5 mt-5">
      <v-row class="flex-nowrap">
        <div
          v-for="(item, index) in items"
          :key="item.title"
          :class="`movie-wrap ${
            index
              ? index + 1 === items.length
                ? 'ml-5 mr-10'
                : 'ml-5'
              : 'ml-10'
          }`"
        >
          <v-card max-width="150" class="elevation-10 rounded-lg">
            <v-img
              class="rounded-lg"
              height="225px"
              :src="`https://image.tmdb.org/t/p/original${item.poster_path}`"
            >
            </v-img>
            <v-btn fab class="btn-more" @click="focusOption = item.id">
              <v-icon class="text-caption more-option"
                >mdi-dots-horizontal</v-icon
              ></v-btn
            >
            <v-list
              class="option-list pa-0"
              rounded
              v-if="focusOption === item.id"
              v-click-outside="closeMenuOption"
            >
              <v-list-item class="ma-0 px-3" min-height="30px">
                <v-list-item-icon
                  class="align-self-center ma-0 clear-min-width"
                >
                  <v-icon class="text-subtitle-1">mdi-plus</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="pl-1 text-caption"
                  >Add to list</v-list-item-title
                >
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item class="ma-0 px-3">
                <v-list-item-icon
                  class="align-self-center ma-0 clear-min-width"
                >
                  <v-icon class="text-subtitle-1">mdi-heart</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="pl-1 text-caption"
                  >Favorite</v-list-item-title
                >
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item class="ma-0 px-3">
                <v-list-item-icon
                  class="align-self-center ma-0 clear-min-width"
                >
                  <v-icon class="text-subtitle-1">mdi-bookmark</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="pl-1 text-caption"
                  >Watchlist</v-list-item-title
                >
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item class="ma-0 px-3">
                <v-list-item-icon
                  class="align-self-center ma-0 clear-min-width"
                >
                  <v-icon class="text-subtitle-1">mdi-star</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="pl-1 text-caption"
                  >Your rating</v-list-item-title
                >
              </v-list-item>
            </v-list>
            <radial-progress-bar
              class="movie-rate-indicator"
              :diameter="40"
              :completed-steps="item.vote_average"
              :start-color="getIndicatorColor(item.vote_average)"
              :stop-color="getIndicatorColor(item.vote_average)"
              :stroke-width="2.5"
              :inner-stroke-width="2.5"
              :total-steps="10"
              :inner-stroke-color="`#000000`"
            >
              <span class="movie-rate"
                >{{ item.vote_average * 10
                }}<span class="movie-rate-percent">%</span></span
              >
            </radial-progress-bar>
          </v-card>

          <span class="pt-5 px-2 movie-title"
            >{{ $vuetify.breakpoint.mobile
            }}{{ tab === 0 ? item.title : item.name }}</span
          >
          <span class="px-2 movie-release-date">{{
            $moment(item.release_date).format("MMM DD, YYYY")
          }}</span>
        </div>
      </v-row>
    </horizontal-scroll>
  </v-container>
</template>

<script>
export default {
  data() {
    const categoryOption = [
      { text: "Movie", value: "movie" },
      { text: "Tv", value: "tv" },
    ];
    return {
      key: "76004eb403fa0d8cf113272af1bce41b",
      items: [],
      rateIndicator: {
        high: "#56c700",
        medium: "#ffbc00",
        low: "#ff0000",
      },
      tab: 0,
      categoryOption,
      focusOption: "",
      selectCategory: false,
    };
  },
  watch: {
    tab: function (val) {
      this.selectCategory = false;
      this.fetchData(this.categoryOption[val]);
    },
  },
  mounted() {
    this.fetchData(this.categoryOption[this.tab]);
  },
  methods: {
    onSelectCategory(item) {
      this.tab = this.categoryOption.indexOf(item);
      this.selectCategory = false;
    },
    closeMenuOption(e) {
      if (!e.target.classList.contains("more-option")) {
        this.focusOption = "";
      }
    },
    fetchData: function (category) {
      const config = {
        method: "post",
        url: `https://api.themoviedb.org/3/${category.value}/popular?api_key=${this.key}&language=en-US&page=1`,
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };

      this.$http(config)
        .then((response) => {
          this.items = response.data.results;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getIndicatorColor: function (rating) {
      return rating >= 7
        ? this.rateIndicator.high
        : rating >= 5
        ? this.rateIndicator.medium
        : this.rateIndicator.low;
    },
  },
};
</script>
<style>
.v-tabs-slider {
  border-radius: 25px !important;
}
.v-tabs-bar {
  height: 30px !important;
  z-index: 1;
}
.v-tabs-slider-wrapper {
  height: 30px !important;
  transition: 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
  position: absolute;
}
</style>
<style scoped>
.movie-title {
  font-weight: 700;
  position: relative;
  white-space: normal;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 150px;
}
.movie-release-date {
  position: relative;
  white-space: normal;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 150px;
  color: rgb(0, 0, 0, 0.6);
}
.movie-wrap {
  width: 150px;
  position: relative;
}
.movie-rate-indicator {
  position: absolute;
  bottom: -20px;
  left: 10px;
  background-color: #000000;
  border-radius: 50% !important;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.movie-rate-percent {
  color: #ffffff;
  font-weight: bold;
  font-size: 8px;
  vertical-align: top;
}
._horizontal-scroll,
.movie-wrap {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}
._horizontal-scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

._horizontal-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

._horizontal-scroll::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 10px;
}

._horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 36, 36);
  border-radius: 10px;
}

._horizontal-scroll::-webkit-scrollbar-thumb:active {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}
.v-tab {
  height: 30px;
}
.v-tabs {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: unset;
  max-height: 35px;
  height: 35px;
  border: 1px solid #000000 !important;
  border-radius: 25px;
  position: absolute;
  bottom: 0;
}
.v-tab--active {
  color: #ffffff !important;
  z-index: 1;
}
.v-slide-group__content .v-tabs-bar__content {
  border-radius: 25px;
  border: 1px solid #000000 !important;
}
.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
  transform: unset !important;
}
.v-tabs input {
  width: 0px !important;
  max-width: 0px !important;
}
.category--active {
  color: #ffffff;
  background-color: var(--v-primary-base);
  height: 35px;
  max-height: 35px;
  text-align: center;
  min-width: 100px;
}
.category-icon {
  position: absolute;
  color: #ffffff;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}
.btn-more {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255, 0.5);
}
.option-list {
  position: absolute;
  top: 30px;
  right: 10px;
}
.option-category {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 16px !important;
  background-color: grey;
  z-index: 10;
}
.option-list .v-list-item {
  min-height: 30px;
}
.option-category .v-list-item {
  min-height: 30px;
  text-align: center;
  color: #ffffff !important;
}
.clear-min-width {
  min-width: unset;
}
</style>